<script type="text" charset="utf-8" id="list_template">
	<%= File.read("./app/views/items/_item.html").html_safe %>
</script>

<script type="text" charset="utf-8" id="list_create">
	<%= File.read("./app/views/items/_item_create.html").html_safe %>
</script>

<script type="text" charset="utf-8" id="overall_list_template">
	<%= File.read("./app/views/lists/_list.html").html_safe %>
</script>

<script type="text/json" charset="utf-8" id="jsonified_lists">
	<%= @lists.to_json(:include => :items).html_safe %>
</script>

<div class="page-header">
	<h2>Your To-Do Lists <small>Are you actually doing these or are you just kidding yourself?</small></h2>
</div>

<div class="container-fluid">
	<div class="span6">
		<ul class="lists">
		</ul>	
	</div>
		
	<div class="span5">
		
		<div id="list_form" class="well">
			<%= render 'form' %>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function () {	
		var lists = JSON.parse($('#jsonified_lists').html()); 
		
		lists.forEach(function (list, index) {
			var list_text = $("#overall_list_template").html(); 
			var list_fn = _.template(list_text); 
			var rendered = list_fn({index: (index+1), list: list}); 
			$("ul.lists").append(rendered); 
		}); 
		
		$("ul.lists").on("click", "a.list_title" , function (click) {
			var clicked_list = lists[click.target.id-1]; 	
			var template_text = $('#list_template').html(); 
			var template_fn = _.template(template_text); 
			var rendered_well = template_fn({list: clicked_list}); 
			$(click.target).after(rendered_well); 
		}); 
		
		$("#new_list_form").on("ajax:success", function (event, object) {
			var success = $("<div class='alert alert-success'></div>"); 
			success.html("<button type='button' class='close' data-dismiss='alert'>x</button>It Works! This List Has Been Successfully Created"); 
			$("#list_form").before(success); 
			
			var list_text = $("#overall_list_template").html(); 
			var list_fn = _.template(list_text); 
			var new_list = list_fn({list: object, index: object.id}); 
			$('.lists').append(new_list); 
			lists.push(object); 
		}); 
		
		$("#new_list_form").on("ajax:error", function (error) { 
			var error = $("<div class='alert alert-error'></div>"); 
			error.html("<button type='button' class='close' data-dismiss='alert'>x</button>An Error Occurred In Creating This Form"); 
			$("#list_form").before(error); 
		}); 
		
		$("a.list_delete").on('click', function (click) {
			var list_id = click.target.id; 
			var url = "/lists/" + list_id; 
			debugger
			$.ajax({
				url: url,
				dataType: "json",
				type: "delete"
			}).done(function (object) {
				lists.slice(lists.indexOf(object),1); 
				console.log($('li #'+object.id)); 
				$('li #'+object.id).remove(); 
			}).fail(function (error) {
				console.log(error);
			})
		})
			
	}); 
</script>