<script type="text" charset="utf-8" id="list_template">
	<%= File.read("./app/views/items/_item.html").html_safe %>
</script>

<script type="text/json" charset="utf-8" id="jsonified_lists">
	<%= @lists.to_json(:include => :items).html_safe %>
</script>

<div class="page-header">
	<h2>Your Lists</h2>
</div>

<div class="container-fluid">
	<div class="span6">
		<ul class="lists">
			<% @lists.each_with_index do |list, index| %>
				<li>
					<a href="#" class="lead list_title" id="<%=index%>"><%= list.title %></a>
				</li>
			<%end%>	
		</ul>	
	</div>
		
	<div class="span5">
		
		<div id="list_form">
			<%= render 'form' %>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function () {	
		$("a.list_title").click(function (click) {
			var lists = JSON.parse($('#jsonified_lists').html()); 
			var clicked_list = lists[click.target.id]; 
			
			var template_text = $('#list_template').html(); 
			var template_fn = _.template(template_text); 
			var rendered_well = template_fn({list: clicked_list}); 
			$(click.target).after(rendered_well); 
		}); 
		
		$("#new_list_form").on("ajax:before", function (event) {

		}); 
		
		$("#new_list_form").on("ajax:success", function (event, object) {
			var error = $("<div class='alert alert-success'></div>"); 
			error.html("<button type='button' class='close' data-dismiss='alert'>x</button>It Works! This List Has Been Successfully Created"); 
			$("#list_form").before(error); 
			
			var link = $("<a href='#' class='lead list_title' id="+object.id+ "></a>").text(object.title); 
			console.log(link); 
			var new_list = $("<li></li>").html(link);
			console.log(new_list); 
			$('.lists').append(new_list); 
		})
		
		$("#new_list_form").on("ajax:error", function (error) { 
			var error = $("<div class='alert alert-error'></div>"); 
			error.html("<button type='button' class='close' data-dismiss='alert'>x</button>An Error Occurred With Creating This Form"); 
			$("#list_form").before(error); 
		})
		
	
	}); 
</script>