<!DOCTYPE html>
<html>
<head>
  <title>AjaxDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a href="<%= new_session_url %>" class="brand">
				User: <%= current_user ? current_user.username : "Not Logged In"%>
			</a>
			<ul class='nav'>
				<li class='divider-vertical'></li>
				<li><a href="#">Stuff</a></li>
				<li class='divider-vertical'></li>
				<li><a href="#">More Stuff</a></li>
				<li class='divider-vertical'></li>
			</ul>
		</div>
	</div>
	
	<div class="span12" id="content">
		<%= yield %>
	</div>
  
</body>
</html>
